@model asp.net_vidly.Models.Movie

<h2>Movie Details</h2>

<div>
    <h3>@Model.Title</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre.Name</dd>

        <dt class="col-sm-2">Release Date</dt>
        <dd class="col-sm-10">@Model.ReleaseDate.ToString("MMMM dd, yyyy")</dd>

        <dt class="col-sm-2">Director</dt>
        <dd class="col-sm-10">@Model.Director</dd>

        <dt class="col-sm-2">Rating</dt>
        <dd class="col-sm-10">@Model.Rating</dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Index", "Movies")" class="btn btn-primary btn-sm">Back to List</a>
</p>
